<!DOCTYPE html>
<html>
    <style>
    /* 讓按鈕置中 */
    input[type="submit"] {
        display: block;
        margin: 0 auto;
        background-color: yellow; /* 更改背景顏色為黃色 */
    }
</style>

<head>
    <title>Data Entry Form</title>
</head>
<body>
    <h2>Data Entry Form</h2>
    <form action="/submit_form" method="post">
        <label for="id">Identification Number:</label><br>
        <input type="text" id="id" name="id"><br>
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="gender">Gender:</label><br>
        <select id="gender" name="gender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select><br>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
